/Semana02/MateApp/nbproject/private/
/Semana02/MateApp/build/
/Semana02/JavaApplication6/nbproject/private/
/Semana03/ProyectoPunto/target/
/Semana03/AprendiendoJava/target/
/Semana03/PagoApp/target/
/Semana03/VentaApp/target/
/Semana04/PromedioApp/target/
/Semana05/ProyectoSemana5/target/
/Semana09/AprendiendoJava/target/
/Semana09/ProyectoDemo/target/
